<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Portfolio</title>
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="/style/styles.css"/>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">SREEKUMAR</div>
            <button class="nav-toggle"><i class="fas fa-bars"></i></button>
            <nav>
                <a href="#education">EDUCATION</a>
                <a href="#skills">SKILLS</a>
                <a href="#experience">EXPERIENCE</a>
                <a href="#portfolio">PORTFOLIO</a>
                <a href="#clients">CLIENTS</a>
                <a href="#contact">CONTACT</a>
            </nav>
        </div>
    </header>
    
    <main>
        <img src="/pics/landing-image-1.jpg" 
            alt="A person sitting on a wooden dock facing a lake with mountains in the background"/>
        <div class="hero-text">
            <h1>HI<span>,</span> I AM<br/>SREEKUMAR<span>.</span></h1>
            <p>UI/UX DESIGNER AND WEB DEVELOPER</p>
            <a href="/cv/cv.pdf" download></a>
            <button>Download Resume</button>
        </div>
    </main>
    
    <section id="about">
        <div class="container">
            <h1>ABOUT ME</h1>
            <div class="about-content">
                <div class="about-text">
                    <p class="intro">I am a Professional UI/UX Designer and Web Developer.</p>
                    <p>Consectetur an adipisci elita, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud.</p>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur...</p>
                    <hr/>
                    <div class="contact-info">
                        <div>
                            <p>Phone</p>
                            <p>+91 7200021788</p>
                        </div>
                        <div>
                            <p>Email</p>
                            <p>sreekumar.career@gmail.com</p>
                        </div>
                        <div>
                            <p>Website</p>
                            <p>www.mysite.com</p>
                        </div>
                    </div>
                </div>
                <div class="about-image">
                    <div class="image-wrapper">
                        <img src="/pics/my img.jpg" 
                            alt="Portrait of a woman with long hair" />
                        <div class="social-links">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-dribbble"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.linkedin.com/in/sreekumar-career/"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="education">
        <div class="container">
            <h2>EDUCATION</h2>
            <div class="education-content">
                <div class="education-item">
                    <div class="timeline-dot"></div>
                    <div class="timeline-line"></div>
                    <div class="education-details">
                        <p>2021 - 2023</p>
                        <p>COMPUTER SCIENCE</p>
                        <p>ZION MATRICULATION HIGHER SECONDARY SCHOOL</p>
                        <p>Chennai, India</p>
                        <p>Duis aute irure dolor in reprehenderit in vol patate velit esse cillum dolore eu fugiat nulla pari. Excepteur sint occana inna tecat cupidatat non proident.</p>
                    </div>
                </div>
                <div class="education-item">
                    <div class="timeline-dot"></div>
                    <div class="timeline-line"></div>
                    <div class="education-details">
                        <p>2023 - 2027</p>
                        <p>B.TECH (AI & ML)</p>
                        <p>SAVEETHA ENGINEERING COLLEGE</p>
                        <p>Chennai, India</p>
                        <p>Duis aute irure dolor in reprehenderit in vol patate velit esse cillum dolore eu fugiat nulla pari. Excepteur sint occana inna tecat cupidatat non proident.</p>
                    </div>
                </div>
                
            </div>
        </div>
    </section>

    <section id="skills">
        <div class="container">
            <h2>SKILLS</h2>
            <div class="skills-grid">
                <div class="skill-item">
                    <div class="skill-header">
                        <span>PHYTHON</span>
                        <span>80%</span>
                    </div>
                    <div class="progress-bar">
                        <div class="progress" style="width: 80%"></div>
                    </div>
                </div>
                <div class="skill-item">
                    <div class="skill-header">
                        <span>C</span>
                        <span>70%</span>
                    </div>
                    <div class="progress-bar">
                        <div class="progress" style="width: 70%"></div>
                    </div>
                </div>
                <div class="skill-item">
                    <div class="skill-header">
                        <span>UNITY</span>
                        <span>85%</span>
                    </div>
                    <div class="progress-bar">
                        <div class="progress" style="width: 85%"></div>
                    </div>
                </div>
                <div class="skill-item">
                    <div class="skill-header">
                        <span>C#</span>
                        <span>75%</span>
                    </div>
                    <div class="progress-bar">
                        <div class="progress" style="width: 75%"></div>
                    </div>
                </div>
                <div class="skill-item">
                    <div class="skill-header">
                        <span>SWIFT</span>
                        <span>50%</span>
                    </div>
                    <div class="progress-bar">
                        <div class="progress" style="width: 50%"></div>
                    </div>
                </div>
                <div class="skill-item">
                    <div class="skill-header">
                        <span>COMMUNICATION</span>
                        <span>90%</span>
                    </div>
                    <div class="progress-bar">
                        <div class="progress" style="width: 90%"></div>
                    </div>
                </div>
                <div class="skill-item">
                    <div class="skill-header">
                        <span>SKETCH</span>
                        <span>90%</span>
                    </div>
                    <div class="progress-bar">
                        <div class="progress" style="width: 90%"></div>
                    </div>
                </div>
                <div class="skill-item">
                    <div class="skill-header">
                        <span>CREATIVITY</span>
                        <span>90%</span>
                    </div>
                    <div class="progress-bar">
                        <div class="progress" style="width: 90%"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="experience">
        <div class="container">
            <h1>EXPERIENCE</h1>
            <div class="experience-content">
                <div class="experience-column left">
                    <div class="experience-item">
                        <div class="timeline-dot"></div>
                        <div class="date">2024 - Present</div>
                        <h2>GAME DEVELOPER</h2>
                        <p>Chennai, India</p>
                        <p>Duis aute irure dolor in reprehenderit in vol patate velit esse cillum dolore eu fugiat nulla pari. Excepteur sint occaecat inna tecat cupidatat non proident.</p>
                    </div>
                    
                    <div class="experience-item">
                        <div class="timeline-dot"></div>
                        <div class="date">2023 - 2024</div>
                        <h2>PYTHON PRACTIONER</h2>
                        <p>Chennai, India</p>
                        <p>Duis aute irure dolor in reprehenderit in vol patate velit esse cillum dolore eu fugiat nulla pari. Excepteur sint occaecat inna tecat cupidatat non proident.</p>
                    </div>
                </div>
                <div class="experience-column right">
                    
                    <div class="experience-item">
                        <div class="timeline-dot"></div>
                        <div class="date">2024 - 2024</div>
                        <h2>DATA SCIENCE TRAINEE</h2>
                        <p>Computational Intelligence Research Foundation</p>
                        <p>Chennai, India</p>
                        <p>Duis aute irure dolor in reprehenderit in vol patate velit esse cillum dolore eu fugiat nulla pari. Excepteur sint occaecat inna tecat cupidatat non proident.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="profiles">
        <div class="container">
            <h1>PROFILES</h1>
            <div class="profiles-grid">
                <div><i class="fas fa-leaf"></i><p>Themeforest</p></div>
                <div><i class="fas fa-basketball-ball"></i><p>Dribbble</p></div>
                <div><i class="fab fa-behance"></i><p>Behance</p></div>
                <div><i class="fab fa-github"></i><p>Github</p></div>
                <div><i class="fas fa-camera"></i><p>FlickR</p></div>
                <div><i class="fas fa-smile"></i><p>SmungMung</p></div>
                <div><i class="fas fa-th"></i><p>SquareSpace</p></div>
                <div><i class="fab fa-bitbucket"></i><p>BitBucket</p></div>
            </div>
        </div>
    </section>

    <section id="portfolio">
        <div class="container">
            <h1>PORTFOLIO</h1>
            <div class="portfolio-grid">
                <div>
                    <img alt="Interior design of a modern living room" src="/pics/gallery-image-1.jpg"/>
                </div>
                <div>
                    <img alt="Modern architectural building" src="/pics/gallery-image-2.jpg"/>
                </div>
                <div class="tall">
                    <img alt="Modern high-rise building" src="/pics/gallery-image-3.jpg"/>
                </div>
                <div>
                    <img alt="Dining area with a round table" src="/pics/gallery-image-4.jpg"/>
                </div>
                <div>
                    <img alt="Set of modern white ceramic containers" src="/pics/gallery-image-5.jpg"/>
                </div>
            </div>
        </div>
    </section>

    <section id="clients">
        <div class="container">
            <h2>CLIENTS</h2>
            <div class="clients-list">
                                
                <i class="fas fa-leaf"></i>
                <i class="fab fa-behance"></i>
                <i class="fas fa-leaf"></i>
                <i class="fab fa-behance"></i>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <h1>CONTACT ME</h1>
            <div class="contact-content">
                <div class="contact-form">
                    <form>
                        <div>
                            <input type="text" placeholder="Name*"/>
                        </div>
                        <div>
                            <input type="email" placeholder="Email*"/>
                        </div>
                        <div>
                            <input type="text" placeholder="Subject"/>
                        </div>
                        <div>
                            <textarea placeholder="Message"></textarea>
                        </div>
                        <div>
                            <button type="submit">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="contact-details">
                    <h2>SREEKUMAR S</h2>
                   
                    <p><strong>Phone</strong></p>
                    <p>+91 7200021788</p>
                    <p><strong>Email</strong></p>
                    <p>sreekumar.career@gmail.com</p>
                    <p><strong>Website</strong></p>
                    <p>www.mysite.com</p>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-dribbble"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/in/sreekumar-career/"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        const navToggle = document.querySelector('.nav-toggle');
        const nav = document.querySelector('nav');
    
        navToggle.addEventListener('click', () => {
            nav.classList.toggle('active');
        });
    </script>
    
</body>
</html>